################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAD_VS_Demo_Solution/DAD_VS_Demo/DAD_VS_Demo.dbmdl
